<html>
  <head>
    <title><%= t("atten.print_gafete") %></title>
  </head>
  <body style="margin: 0;">
    <% @logo_url = @event.logo.url %>
    <% @gafete_logo_visibility = (@with_logos == "true")? "visible": "hidden" %>
    <% if @gafete_big %>
      <div id="gafete-container" style="height: 415px; margin: 0px; min-height: 400px; color: #000;">
        <div style="width: 10cm; height: 13cm; margin-bottom: 30px; font-family: Arial, Helvetica, sans-serif; line-height: 20px; color: #000;">
          <div class="gafete-logo" style="height: 85px; text-align: center; <%= @gafete_logo_visibility %>;">
            <%= image_tag @logo_url, :height => 60, :style => "height: 60px; -ms-interpolation-mode: bicubic; margin: 7px;" %>
          </div>
          <% @diaries.each do |diary| %>
            <div class="diary" style="margin: 10px; border-bottom: 1px solid #aaa; font-size: 14px; vertical-align: top;">
              <div class="hour" style="display: inline-block; width: 70px;"><%= "#{diary.event_date.strftime("%I:%M%p")} - #{diary.event_end_date.strftime("%I:%M%p")}" %></div>
              <div class="diary-details" style="width: 220px; padding-left: 10px; display: inline-block;">
                <span style="font-weight: bold;"><%= diary.description %></span><br/>
                <span style="color: #c00205;"><%= diary.place %></span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <div id="gafete-container" style="height: 415px; margin: 0px; min-height: 400px; color: #000;">
        <div style="width: 305px; height: 415px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 1">
          <div class="gafete-logo" style="height: 85px; border-bottom: 1px solid #aaa; visibility: <%= @gafete_logo_visibility %>;">
            <%= image_tag @logo_url, :height => 65, :style => "height: 65px; -ms-interpolation-mode: bicubic; margin: 7px;" %>
          </div>
          <% @diaries.each do |diary| %>
            <div class="diary" style="margin: 10px; border-bottom: 1px solid #aaa;">
              <div class="hour" style="display: inline-block; width: 70px; font-size: 8px;"><%= "#{diary.event_date.strftime("%I:%M%p")} - #{diary.event_end_date.strftime("%I:%M%p")}" %></div>
              <div class="diary-details" style="width: 220px; padding-left: 10px; vertical-align: top; display: inline-block;">
                <span style="font-weight: bold;"><%= diary.description %></span><br/>
                <span style="color: #c00205;"><%= diary.place %></span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </body>
</html>