<p><%= t(:hello, :user => @resource.fullname) %></p>

<p><%= t("devise.you_can_confirm_your_account_email") %></p>

<p><%= "#{t("user.username")}: #{@resource.username}" %></p>
<% unless @resource.password.nil? %>
  <p><%= "#{t("user.password")}: #{@resource.password}" %></p>
<% end %>

<p><%= link_to t("devise.confirm_my_account"), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
