<p><%= t(:hello, :user => @resource.fullname) %></p>

<p><%= t(:someone_has_requested_a_link) %></p>

<p><%= link_to t(:change_my_password), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t(:if_you_didnt_request_this) %></p>
<p><%= t(:your_password_wont_change) %></p>